<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>das</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="content">
        <div id="searchbar">
            <input type="text" placeholder="search your friend...." id='inputsearch'>
        </div>
        <div id="main">
            <div id="recent" class="mainItem">
                <div id="searchrecent">
                    <input type="text" placeholder="search your recents...." id='inputrecent'>
                </div>
            </div>
            <div id="chatarea" class="mainItem"></div>
        </div>
    </div>
</body>
</html>