body{
    margin: -0px -0px;
}
.ha{
    background-color: chartreuse;
    border: 1px solid black;
    width: 10vw;
    height: 10vh;
}
#searchbar{
    background-image: linear-gradient(to right top, #1a45f2, #007fff, #00a7ff, #00c7ed, #8ce2e2, #99dede, #a4d9d9, #aed5d5, #74b4c6, #4491bb, #366aaa, #493f8b);
    min-width:98vw;
    min-height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 20px 1px black;
}
#inputsearch{
    padding:10px;
    font-size: 1.1em;
    min-width: 80vw;
    border-radius: 10px;
}

#main{
    display: flex;
    justify-content: center;
    align-items: stretch;
}
#recent{
    background-color: firebrick;
    opacity: 0.6;
    min-height: 90vh;
}

#searchrecent{
    background-color:black;
    box-shadow: 2px 2px 20px 1px black;
}
#inputrecent{
    padding:10px;
    font-size: 1.1em;
    min-width: 20vw;
    border-radius: 10px;
    margin: 5px;
}

#chatarea{
    background-color: darkcyan;
    opacity: 0.6;
    flex-grow: 3;
}